
.header {
align-items: center;
background-color: #21c08b;
color: white;
display: flex;
height: 100px;
justify-content: space-between;
top: 0px;
width: 100%;
}
.header__img {
margin-left: 30px;
width: 200px;
}
.login {
background: linear-gradient(#21C08B, #8155e7);
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0px 30px;
min-height: calc(100vh - 200px);
}
.login__container {
background-color: rgba(255, 255, 255, 0.1);
border: 2px solid white;
border-radius: 40px;
color: white;
padding: 0px 60px 0px;
min-height: 700px;
width: 300px;
display: flex;
justify-content: space-around;
flex-direction: column;
box-shadow: -1px -8px 30px 10px rgba(0,0,0,0.5);
}
.login__container--form {
display: flex;
flex-direction: column;
}
.login__container--form label {
font-size: 14px;
}
.login__container--remember-me {
color: white;
display: flex;
justify-content: space-between;
margin-top: 10px;
}
.login__container--remember-me a {
color: white;
font-size: 14px;
text-decoration: none;
}
.login__container--remember-me a:hover {
text-decoration: underline;
}

.login__container--register {
font-size: 14px;
}

.login__container--register a {
font-size: 16px;
color: white;
font-weight: bold;
text-decoration: none;
padding-left: 96px;
letter-spacing: 1px;
}

.login__container--register a:hover {
text-decoration: underline;
}

.input {
background-color: transparent;
border-left: 0px;
border-top: 0px;
border-right: 0px;
border-bottom: 2px solid white;
font-size: 16px;
font-family: 'Muli', sans-serif;
margin-bottom: 20px;
padding: 0px 20px;
outline: none;
height: 50px;
}

::placeholder {
color: white;
}

.button {
background-color: rgba(255, 255, 255, 0.1);
border: none;
border-radius: 25px;
color: white;
cursor: pointer;
font-size: 16px;
font-weight: bold;
font-family: 'Muli', sans-serif;
height: 50px;
letter-spacing: 1px;
margin: 10px 0px;
}

.footer {
background-color: #8155e7;
display: flex;
align-items: center;
height: 100px;
width: 100%;

}

.footer a {
color: white;
cursor: pointer;
font-size: 14px;
padding-left: 30px;
text-decoration: none;
}

.footer a:hover {
text-decoration: underline;
}

body {
margin: 0px;
width: 100%;
}
.wrap {
margin: 0px auto;
width: 486px;
}

#ctctct{
    font-size: 150px;
}

#PNETD {
    font-size: 25px;
}


.text {
text-align: center;
margin-top: 56px;
color: #fff;

font-family: sans-serif;
text-transform: uppercase;
}

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
.pulse {
    animation-name: pulse;
    animation-duration: 1s;
}

@keyframes wobble {
    0% {transform: translateX(0%);}
    15% {transform: translateX(-25%) rotate(-5deg);}
    30% {transform: translateX(20%) rotate(3deg);}
    45% {transform: translateX(-15%) rotate(-3deg);}
    60% {transform: translateX(10%) rotate(2deg);}
    75% {transform: translateX(-5%) rotate(-1deg);}
    100% {transform: translateX(0%);}
  }
  .wobble {
    animation-name: wobble;
  }

  @media all and (max-width: 680px) {
    .wrap {
     width: 100%;
    }
    .text {
     margin-top: 20px; 
    }
  }
